services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    container_name: scholarship
    environment:
      - ENV=development
    ports:
      - "8000:8000"
    volumes:
      - ./:/app

  postgres:
    image: postgres:18.1-alpine
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}", ]
      interval: 30s
      timeout: 30s
      start_period: 0s
      start_interval: 5s
      retries: 3

volumes:
  postgres_data:
