services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    container_name: scholarship
    environment:
      - ENV=development
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
